*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game {
  display: flex;
  flex-direction: row;
  background-color: rgb(146, 141, 141);
  height: 90vh;
  padding-top: 9%;
}

.game-info {
  margin-left: 20px;
}

.call_winner{
  position: absolute;
  color: rgb(5, 1, 1);
  font-family: fantasy;
  font-size: 25px;
}